@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

:root
{
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: "Amatic SC";
}
body
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-image: url(https://st2.depositphotos.com/1177973/8193/i/450/depositphotos_81935296-stock-photo-open-recipe-book.jpg);
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    background-attachment: fixed;
}
h1,h2,h3,h4,h5,h6
{
    font-family: var(--secondary-font);
    color: var(--text-dark);
}
p, span
{
    color: var(--text-dark);
}
img
{
    width: 100%;
}

/* Header */

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
#recipe-book-header
{
    height: 100px;
    width: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 10px solid #ffffff;
    margin: 5px;
}
#page-title
{
    font-size: 100px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 10px solid #ffffff;
    margin: 5px;
}

/* Main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    /* Search Bar */
      
      #search-bar {
        width: 500px;
        display: flex;
        margin-bottom: 20px;
      }
      
      #search-bar input {
        flex: 1;
      }
      
      #search-bar button {
        flex: 0 0 35px; /* Fixed width for the button */
      }
      
    /* Recipe Description */

      #recipe-book-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px;
        padding: 25px;
        border: black solid 1px;
        background-color: #ffffff;
        border-radius: 10px;
        margin: 5px;
      }
      
      .recipe {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px; /* Adjust spacing between recipes */
      }
      
      .recipe-img-box {
        flex: 1;
      }
      
      .recipe-info {
        flex: 2;
        padding: 20px;
      }

      .recipe-name
      {
        color: var(--primary-color);
        font-size: 40px;
      }


/* Footer */
footer
{  
    padding-top: 50px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

footer a
{
    background-color: #ffffff;
    border-radius: 10px;
    border: 10px solid #ffffff;
    margin: 5px;
}

.social {
    display: flex;
    gap: 10px; /* Space between icons */
}
.social img 
{
    width: 50px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 10px solid #ffffff;
    margin: 5px;
}

@media only screen and (max-width: 750px) {
    .recipe {
        flex-direction: column;
    }
}

@media only screen and (max-width: 600px) {
    #page-title {
      font-size: 60px; /* Adjust font size for smaller screens */
    }

    #search-bar {
        width: 250px;
    }
  
    .social img {
      width: 30px; /* Adjust social icon size for smaller screens */
    }
  }